name: Generate JWT

on: 
 workflow_dispatch:

jobs:
  generate-jwt:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install pyjwt
        pip install jwcrypto
        # pip install JWT
    - run : |
          curl -i -X POST \
               -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOiAxNjc3NDgxMzE3LCAiZXhwIjogMTY3NzQ4MTkxNywgImlzcyI6IDI5Mjg1NX0.n7U1MHc_vBIH9nuX_CWmb1NUDxaVuavKv3zonBe9g2t_1ZpSZI-PCt-Mpy_LZCgDu-UXoSoyOYwgkyFlgN5lfn_7vNNu8A3GHxL8zEShj0ARAg1z-O7K6b8Qu3EA8qhRak-rR7NudUwFH9ZcxnKb4IIzQoR29JAETY3HCkjE6yotKCD71J1ugfNlqPoM643iobCrQURJ-2P3GWfcieYVdP7xI_DEfCt28gJHGJXoDZukF3IpqpdAgR-YZv-txCoDzcjwVc0sDfKwQ3eGxMDLgOPjaOWJ6V4z7hNO1P_7lqz3UDEwcMXT4vKX7zdefn3QJsjiBIhHlFIdvwxkn51oaQ"\
               -H "Accept: application/vnd.github+json" \
            https://api.github.com/app/installations/34148902/access_tokens
          curl -i -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ***" -H "X-GitHub-Api-Version: 2022-11-28"   https://api.github.com/repos/SiyaaJhawar/demo/issues
       
   
      env:
        PYTHONPATH: /usr/local/lib/python3.8/site-packages
    - name: Generate JWT
      run: |
       # python3 gen_jwt.py
    
